{% extends 'base.html' %}


{% block title %}Tasks{% endblock title %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Summary</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <th scope="row">{{ task["id"] }}</th>
            <td>{{ task["name"] }}</td>
            <td>{{ task["summary"] }}</td>
            <td>
                <a href="{{ url_for('get_task', pk=task['id']) }}" alt="Continue reading..."><i class="bi bi-eye"></i></a>
                <a href="#"><i class="bi bi-pencil-fill"></i></a>
                <a href="#"><i class="bi bi-trash3-fill"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}